/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "devise_bootstrap_views";
@import "bootstrap";

.panel {
    width: 342px;
    height: 321px;
    position: absolute;
    background-color: transparent;
    background: rgba(255,255,255,0.5);
    top: 32%;
    left: 49%;
    margin-top: -103px;
    margin-left: -150px;
}

.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}

.btn3 {
  background: #910a00;
background-image: -webkit-linear-gradient(top, #910a00, #170000);
background-image: -moz-linear-gradient(top, #910a00, #170000);
background-image: -ms-linear-gradient(top, #910a00, #170000);
background-image: -o-linear-gradient(top, #910a00, #170000);
background-image: linear-gradient(to bottom, #910a00, #170000);
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
font-family: Courier New;
color: #ffffff;
font-size: 13px;
padding: 4px 8px 5px 10px;
text-decoration: none;
}

.btn3:hover {
  background: #820000;
  background-image: -webkit-linear-gradient(top, #820000, #5c0202);
  background-image: -moz-linear-gradient(top, #820000, #5c0202);
  background-image: -ms-linear-gradient(top, #820000, #5c0202);
  background-image: -o-linear-gradient(top, #820000, #5c0202);
  background-image: linear-gradient(to bottom, #820000, #5c0202);
  text-decoration: none;
}

.btn1 {
  background: #196604;
 background-image: -webkit-linear-gradient(top, #196604, #031402);
 background-image: -moz-linear-gradient(top, #196604, #031402);
 background-image: -ms-linear-gradient(top, #196604, #031402);
 background-image: -o-linear-gradient(top, #196604, #031402);
 background-image: linear-gradient(to bottom, #196604, #031402);
 -webkit-border-radius: 60;
 -moz-border-radius: 60;
 border-radius: 28px;
 font-family: Courier New;
 color: #ffffff;
 font-size: 13px;
 padding: 2px 10px 3px 12px;
 text-decoration: none;
}

.btn1:hover {
  background: #007a00;
  text-decoration: none;
}
