// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-responsive {
  width:640px;
  height:360px;
  margin-left: auto;
  margin-right: auto;
}

.carousel{
  width:640px;
  height:360px;
  margin-left: auto;
  margin-right: auto;
}
